.vscroller {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 1px;
}

.vrow {
    position: absolute;
    width: 100%;
    height: 30px;
    max-height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 50px;
}

.vexpand {
    color: blue;
}

.insertInto {
    color: lightskyblue;
}

.up-separator {
    position: absolute;
    height: 3px;
    color: mediumblue;
    line-height: 2px;
    border-top: solid 2px mediumblue;
    pointer-events: none;
}

.down-separator {
    position: absolute;
    height: 3px;
    color: mediumblue;
    line-height: 2px;
    border-bottom: solid 2px mediumblue;
    pointer-events: none;
}