.vtree {
    .vscroller {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 1px;
    }
    
    .vrow {
        position: absolute;
        width: auto;
        white-space: nowrap;
        height: 30px;
        max-height: 30px;
        line-height: 30px;
        vertical-align: middle;
        padding-left: 50px;
        border-bottom: solid 1px #dbd9d9;
    }
    
    .vexpand {
        color: blue;
    }
    
    .insertInto {
        color: lightskyblue;
    }
    
    .up-separator-span1 {
        position: absolute;
        width: 100%;
        height: inherit;
        color: mediumblue;
        line-height: 2px;
        border-top: solid 2px mediumblue;
        pointer-events: none;
    }
    
    .down-separator-span1 {
        position: absolute;
        width: 100%;
        height: inherit;
        color: mediumblue;
        line-height: 2px;
        border-bottom: solid 2px mediumblue;
        pointer-events: none;
    }
}
